In [76]:
import pandas as pd

df1 = pd.read_csv('EA.csv', index_col=[0], sep=';')
df2 = pd.read_csv('REF.csv', index_col=[0], sep=';')

#first_column1 = df1.iloc[:, 0]
#first_column2 = df2.iloc[:, 0]

frames = [df1, df2]

result = pd.concat(frames)
result.T

Name,EA0,EA1,EA2,EA3,EA4,EA5,EA6,EA7,EA8,EA9,REF0,REF1,REF2,REF3,REF4,REF5,REF6,REF7,REF8,REF9
Coord,"<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<437, 5, 200>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>","<3468, 5, 958>"
550,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1100,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
1650,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2200,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2,2
2750,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
3300,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
3850,5,5,5,5,5,5,5,5,5,5,4,4,4,4,4,4,4,4,4,4
4400,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5
4950,7,8,7,7,7,6,7,7,7,7,6,6,6,6,6,6,6,6,6,5
5500,9,7,8,9,8,8,8,9,9,8,7,8,8,7,7,7,7,8,7,6
6050,8,7,8,7,9,8,8,8,7,8,7,8,7,8,6,7,7,7,8,7
6600,9,9,9,8,10,8,10,9,8,10,7,9,7,7,7,8,8,8,7,8
7150,10,10,10,10,10,9,10,10,9,10,8,8,8,9,7,7,9,9,9,8
7700,10,10,11,10,10,11,10,11,10,10,8,8,8,9,7,7,9,8,9,9
8250,12,12,12,10,13,11,10,13,10,11,7,7,7,9,6,7,10,8,9,10
8800,13,12,14,11,14,13,11,12,10,11,8,9,9,10,6,7,9,8,8,10
9350,14,12,14,12,14,14,12,12,12,12,7,8,7,9,7,6,8,10,9,8
9900,15.0,15.0,15.0,13.0,NaN,15.0,11.0,13.0,14.0,12.0,7.0,8.0,8.0,9.0,NaN,7.0,10.0,7.0,8.0,9.0
10450,16.0,NaN,NaN,14.0,NaN,NaN,13.0,16.0,14.0,15.0,6.0,8.0,NaN,7.0,NaN,NaN,8.0,7.0,6.0,8.0
11000,NaN,NaN,NaN,15.0,NaN,NaN,13.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,8.0,NaN,NaN,6.0
11550,NaN,NaN,NaN,15.0,NaN,NaN,14.0,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN,8.0,NaN,NaN,NaN